@model IEnumerable<Computer_Store.Models.Computer>

<div class="container">
    <ul class="row row-cols-3">
        @{
        foreach (var item in Model)
        {
            <li>
                <div class="card">
                    <img class="card-img-top" src="\@item.Image">
                    <div class="card-body">
                        <h6 class="card-title"><a class="nav-link text-dark">@item.Name</a></h6>
                        <div class="card-middle">
                        @if (@item.Discount == 0) {
                            <span class="card-price">@item.DisplayPrice</span>
                        } else {
                            <span class="card-price">@item.DisplayDiscountedPrice đ</span>
                            <span class="card-price-discounted">@item.DisplayPrice đ</span>
                        }
                        </div>
                        <div class="card-bottom mt-4">
                            <table>
                                <tbody>
                                    <tr>
                                        <td class="item-left"><img src="~/images/assets/cpu.png"></td>
                                        <td class="item-right">@item.Spec.CPU</td>
                                        <td class="item-left"><img src="~/images/assets/gpu.png"></td>
                                        <td class="item-right">@item.Spec.GPU</td>
                                    </tr>
                                    <tr>
                                        <td class="item-left"><img src="~/images/assets/ram.png"></td>
                                        <td class="item-right">@item.Spec.RAM</td>
                                        <td class="item-left"><img src="~/images/assets/ssd.png"></td>
                                        <td class="item-right">@item.Spec.StorageDrive</td>
                                    </tr>
                                    <tr>
                                        <td class="item-left"><img src="~/images/assets/weight.png"></td>
                                        <td class="item-right">@item.Spec.Weight</td>
                                        <td class="item-left"><img src="~/images/assets/size.png"></td>
                                        <td class="item-right">@item.Spec.Screen</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </li>
        }
        }
    </ul>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        
    </style>
}