@model IEnumerable<Computer_Store.Models.HistoryItems>

@{
    ViewData["Title"] = "History";
    bool haveItem = Model.Count() >= 1;
}
@if (haveItem)
{
    <h1>Your Purchase History</h1>
    <table class="table table-bordered table-striped align-middle cart-table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Brand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.Price) (Discount Applied)
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Deliveried To
                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    <img src=\@item.Product.Image class="img-thumbnail" width="150">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Brand)
                </td>
                <td>
                    @if (item.Product.Discount == 0)
                    {
                        @Html.DisplayFor(modelItem => item.Product.DisplayPrice)
                    } else {
                        @Html.DisplayFor(modelItem => item.Product.DisplayDiscountedPrice)
                    } VND
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
            </tr>
    }
        </tbody>
    </table>
    <div class="price-summary">
        <span class="me-2">
            <strong>Total Expense: @ViewBag.Total VND</strong>
        </span>
    </div>
}
else {
    <div id="cart-empty" class="bg-black mt-3">
        <h1 class="text-white mb-5">Your Purchases seems to be empty</h1>
        <a class="btn btn-secondary btn-lg" asp-action="Index">Go back to the Main Page</a>
    </div>
}


