@model IEnumerable<Order>

@{
    ViewData["Title"] = "Orders List";
    bool haveItem =  ViewBag.GotItem;
}

@if (haveItem)
{
    <h1>Your Current Orders</h1>
    @if (ViewBag.Promoted != null)
    {
        var statusMessageClass = ViewBag.Promoted.Contains("A Rank") ? "info" : "primary";
        <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            You have been promoted to @ViewBag.Promoted!
        </div>
    }
    <div class="row mb-2">
        <div class="col-2 pe-0">
            Total sort <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @ViewData["TotalSort"]
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-sortOrder="price_asc">Ascending</a>
                </li>
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-sortOrder="price_desc">Descending</a>
                </li>
            </ul>
        </div>
        <div class="col-2 pe-0">
            Date sort <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @ViewData["DateSort"]
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-day="date_asc">Ascending</a>
                </li>
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-day="date_desc">Descending</a>
                </li>
            </ul>
        </div>
        <div class="col-2 pe-0">
            Quantity sort <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @ViewData["QuantitySort"]
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-day="@ViewBag.Day"
                        asp-route-quantity="q_asc"
                        asp-route-sortOrder="@ViewBag.SortOrder">Ascending</a>
                </li>
                <li>
                    <a class="dropdown-item"
                        asp-action="OrderList"
                        asp-route-day="@ViewBag.Day"
                        asp-route-quantity="q_desc"
                        asp-route-sortOrder="@ViewBag.SortOrder">Descending</a>
                </li>
            </ul>
        </div>
    </div>

    <table class="table table-bordered table-striped align-middle cart-table">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>
                    Payment
                </th>
                <th>
                    Delivery Address
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @item.CreatedDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryAddress)
                </td>
                <th>
                    <a class="btn btn-outline-dark" asp-route-oid="@item.Id" asp-controller="Home" asp-action="OrderDetail">Detail</a>
                </th>
            </tr>
    }
        </tbody>
    </table>
}
else {
    <div id="cart-empty" class="bg-black mt-3">
        <h1 class="text-white mb-5">No current Orders</h1>
        <a class="btn btn-secondary btn-lg" asp-action="Index">Go back to the Main Page</a>
    </div>
}


