@model IEnumerable<Computer_Store.Models.Part>

<div class="container mt-5">
    <ul class="row row-cols-3">
        @{
        foreach (var item in Model)
        {
            <li>
                <div class="card">
                    <a asp-controller="Home"
                       asp-action="ProductPart"
                       asp-route-id="@item.Id"><img class="card-img-top" src="\@item.Image"></a>
                    @if (@item.Discount != 0) {
                        <span class="onsale">@item.DisplayDiscount</span>
                    }
                    <div class="card-body">
                        <h6 class="card-title"><a class="nav-link text-dark" 
                                                asp-controller="Home"
                                                asp-action="ProductPart"
                                                asp-route-id="@item.Id">@item.Name</a></h6>
                        <div class="card-middle">
                        @if (@item.Discount == 0) {
                            <span class="card-price">@item.DisplayPrice</span>
                        } else {
                            <span class="card-price">@item.DisplayDiscountedPrice đ</span>
                            <span class="card-price-discounted">@item.DisplayPrice đ</span>
                        }
                        </div>
                        <div class="card-bottom mt-4">
                        </div>
                    </div>
                </div>
            </li>
        }
        }
    </ul>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
