@model Computer_Store.Models.Part

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Name: @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <img src= "/@Model.Image" class="img-fluid"/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SummarySpec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SummarySpec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayPrice) VND
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Discount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DisplayDiscount)
        </dd>
    </dl>
    <div id="buttons-bottom">
        <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-outline-info" asp-action="Index">Back to List</a>
    </div>
</div>
