@model IEnumerable<Computer_Store.Models.Part>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<form asp-action="Index" class="row mb-3 border-bottom border-dark pb-2">
    <div class="col-4">
        <div class="input-group no-color">
            <input class="form-control" placeholder="Search" type="text" name="searchString" value="@ViewData["NameSort"]" />
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
            <a asp-action="ComputerPage" class="btn btn-secondary ms-1">Full List</a>
        </div>
    </div>
    <div class="col-2 pe-0">
        Price sort <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @ViewData["CurrentSort"]
        </button>
        <ul class="dropdown-menu">
            <li>
                <a class="dropdown-item"
                    asp-action="Index"
                    asp-route-searchString="@ViewData["NameSort"]"
                    asp-route-sortOrder="price_asc"
                    asp-route-type="@ViewBag.Type"
                    asp-route-category="@ViewBag.Category"
                    asp-route-brand="@ViewBag.Brand">Ascending</a>
            </li>
            <li>
                <a class="dropdown-item"
                    asp-action="Index"
                    asp-route-searchString="@ViewData["NameSort"]"
                    asp-route-sortOrder="price_desc"
                    asp-route-type="@ViewBag.Type"
                    asp-route-category="@ViewBag.Category"
                    asp-route-brand="@ViewBag.Brand">Descending</a>
            </li>
        </ul>
    </div>
    <div class="col-6 p-0">
        <div class="row">
            <div class="col-1 pt-1">Filter</div>
            <select class="form-select col-4 ms-1" name="category">
                @if (ViewBag.Category == null)
                {
                    <option selected>Category</option>
                }
                else
                {
                    <option value="@ViewBag.Category" selected>@ViewBag.Category</option>
                }

                @foreach(var item in Enum.GetValues(typeof(PartCategory)))
                {
                    if (item == ViewBag.Category)
                    {
                        continue;
                    }
                    <option value="@item">@item</option>
                }
            </select>
            <select class="form-select col-2 ms-1" name="brand">
                @if (ViewBag.Brand == null)
                {
                    <option selected>Brand</option>
                }
                else
                {
                    <option value="@ViewBag.Brand" selected>@ViewBag.Brand</option>
                }

                @foreach(var item in Enum.GetValues(typeof(Brand)))
                {
                    if (item == ViewBag.Brand)
                    {
                        continue;
                    }
                    <option value="@item">@item</option>
                }
            </select>
            <button type="submit" class="btn btn-outline-info col-1 ms-1"><i class="fa fa-filter"></i></button>
        </div>
    </div>
</form>
<table class="table table-bordered table-striped align-middle">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SummarySpec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@item.Image class="img-thumbnail" width="150">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SummarySpec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayPrice) VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayDiscount)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
