@model IEnumerable<Computer_Store.Models.Computer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<div class="row mb-3 border-bottom border-dark pb-2">
    <form asp-action="Index" method="get" class="col-4">
        <div class="input-group no-color">
            <input class="form-control" placeholder="Search" type="text" name="searchString" value="@ViewData["NameSort"]" />
            <button type="submit" class="btn btn-outline-primary"><i class="fa fa-search"></i></button>
            <a asp-action="ComputerPage" class="btn btn-secondary ms-1">Full List</a>
        </div>
    </form>
    <div class="col-3">
        Sort by Price <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            @ViewData["CurrentSort"]
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-searchString="@ViewData["NameSort"]" asp-route-sortOrder="price_asc">Ascending</a>
            </li>
            <li>
                <a class="dropdown-item" asp-action="Index" asp-route-searchString="@ViewData["NameSort"]" asp-route-sortOrder="price_desc">Descending</a>
            </li>
        </ul>
    </div>
</div>
<table class="table table-bordered table-striped align-middle index-table">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@item.Image class="img-thumbnail" width="150">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @{
                    ComputerSpec? spec = item.Spec;
                    if (spec != null)
                    {
                        @:<p>CPU: @spec.CPU </p>
                        @:<p>RAM: @spec.RAM </p>
                        @:<p>GPU: @spec.GPU </p>
                        @:<p>Drive: @spec.StorageDrive </p>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayPrice) VND
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DisplayDiscount)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
